.header {
  padding: 1rem 0 3rem;
  a {
    text-decoration: none;
  }
}

.title {
  color: #000000;
  font-size: 3rem;
}

.link {
  color: yellowgreen;
}
.link:hover {
  color: #999999;
}

.link::after {
  background: #444444;
}
